.header__on-scroll {
    position: fixed !important;
    top: 0 !important;
    background-color: rgba(0, 0, 0, 0.95) !important;
    opacity: 1 !important;
    padding-left: 36px !important;
    transition: width 0s, padding 0s;
    animation: mymove 0.35s ease-out;
    @keyframes mymove {
        from {
            transform: translateY(-50%);
        }
        to {
            transform: translateY(0);
        }
    }
}
